  <% if book.favorited_by?(current_user) %>
    <%= link_to book_favorites_path(book), method: :DELETE, remote: true do %>
      <span class="glyphicon glyphicon-heart"><%= book.favorites.count%></span>
    <% end %>
  <% else %>
    <%= link_to book_favorites_path(book), method: :POST, remote: true do %>
     <span class="glyphicon glyphicon-heart-empty"><%= book.favorites.count %></span>
    <% end %>
  <% end %>
  コメント件: <%= book.book_comments.count %>

